@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Varela+Round&display=swap');

@font-face {
    font-family: Calculator;
    src: url(./fonts/calculator.ttf);
  }

:root {
    --background: #024552;
    --body-top: #dad0b5;
    --body-sides: #ada187;
    --body-inner: #313230;
    --body-text: #aa7331;
    --white-btn: #feffff;
    --grey-btn: #ddd4be;
    --orange-btn: #f0ac62;
    --btn-text: #112329;
    --logo: #705937;
    --logo-background: #353832;
    --calc-name: #9b672e;
    --display-digits: #ea9970;
    --display-digits-shadow-1: #e99177;
    --display-digits-shadow-2: #a9271e;
    --display-background: #301a14;
    --display-border: #000000;
    --white-btn-side: #9f9d8d;
    --grey-btn-side: #665b3b;
    --orange-btn-side: #9f411e;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    background-color: var(--background);
}

.calculator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: var(--body-top);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 
        0 -8px 10px 10px var(--body-top),
        0 -20px 0 25px var(--body-sides);
}

#screen-border {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 200px;
    background-color: var(--display-border);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

#screen {
    height: 50px;
    width: 80%;
    /* margin: auto; */
    border-radius: 12px;
    background-color: var(--display-background);
}

#screen-digits {
    position: absolute;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
    font-size: 40px;
    color: var(--display-digits);
    text-shadow: 
        0 0 0.2em var(--display-digits-shadow-1),
        0 0 0.3em var(--display-digits-shadow-2);
    letter-spacing: 12px;
    padding-top: 1%;
    padding-right: 13%;
    /* padding-bottom: 5px; */
}

#calc-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--logo-background);
    height: 60px;
    border-top-style: dashed;
    border-top-width: 0.1px;
    border-color: #394d21;
}

#ti-logo {
    padding-top: 6px;
    width: 40px;
}

#calc-name {
    display: inline-block;
    color: var(--calc-name);
    font-family: 'B612 Mono', monospace;
    letter-spacing: -2px;
    font-size: 24px;
    padding-top: 12px;
}
.calc-buttons {
    background-color: var(--body-inner);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    margin: 5px;
}

.button {
    flex: 1;
    padding: 14px 0;
    color: var(--btn-text);
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    margin: 8px;
    border-radius: 6px;
    outline: none;
    border-style: none;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button:active {
    box-shadow: 0 0 #fff;
    transform: translateY(2px);
  }

.white-btn {
    background-color: var(--white-btn);
    box-shadow: 0px 4px var(--white-btn-side);
}

.grey-btn {
    background-color: var(--grey-btn);
    box-shadow: 0px 4px var(--grey-btn-side);
}

.orange-btn {
    background-color: var(--orange-btn);
    box-shadow: 0px 4px var(--orange-btn-side);
}

#btn-0,
#btn-equals {
    flex: 2;
}